/* =============== Google Font =============== */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

/* =============== NORMALIZE CSS =============== */

@import url(./normalize.css);

/* ========= Universal Selector ========= */

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

* img {
    height: auto;
    width: 100%;
}

body {
    font-family: 'ubuntu', Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    /* line-height: 1.5; */
    color: var(--color-body);
}

html {
    /* 10x font size of root element */
    font-size: 62.5%;
}


/* ========= CSS Color Variable ========= */

:root {
    --color-primary: #FD023E;
    /* --color-primary: #dc143c; */
    --border-radius: 30px;
}


/*=============== HEADER & NAV ===============*/

.nav {
    position: fixed;
    width: 100%;
    padding: 3rem 0;
    transition: all 0.3s ease;
    /* background: var(--color-primary); */
}

.nav.sticky {
    padding: 1.5rem 0;
    background: var(--color-primary);
}

.nav.sticky .nav__item>a:hover {
    color: black;
}

.nav__item>a {
    color: #fff;
    font-size: 1.9rem;
    font-weight: 500;
    margin-left: 2.5rem;
    transition: 0.3s ease;
}

.nav.sticky .nav__brand>a span {
    color: #fff;
    transition: all 0.3s ease;
}

.nav__item>a:hover {
    color: var(--color-primary);
}

.nav__brand>a {
    color: #fff;
    font-size: 3.5rem;
    font-weight: 600;
}

.nav__brand>a span {
    color: var(--color-primary);
}

.list {
    list-style: none;
    padding-left: 0;
}

.nav__item {
    display: inline-block;
}

.max__width {
    max-width: 1300px;
    padding: 0 8rem;
    margin: auto;
}

.nav .max__width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/*=============== HOME ===============*/

.home {
    display: flex;
    background: black;
    height: 100vh;
    color: #fff;
}

.max--width {
    margin: auto 0 auto 4rem;
}

.home__text-1 {
    font-size: 2.7rem;
}

.home__text-2 {
    font-size: 7.5rem;
    font-weight: 600;
    margin-left: -3px;
}

.home__text-3 {
    font-size: 3rem;
    margin: .5rem 0;
}

.home__text-3>span {
    color: var(--color-primary);
    font-weight: 500;
}


/*========== Font and typography ==========*/


/*========== Font weight ==========*/


/*========== z index ==========*/


/* Responsive typography */


/*=============== THEME ===============*/


/*========== Variables Dark theme ==========*/


/*=============== REUSABLE CSS CLASSES ===============*/

.main {
    overflow: hidden;
    /* For the animations ScrollReveal*/
}


/* Change background header */


/* Active link */


/*=============== BUTTON ===============*/


/*=============== POPULAR ===============*/


/*=============== VALUE ===============*/


/*Rotate icon and add shadows*/


/*=============== CONTACT ===============*/


/*=============== SUBSCRIBE ===============*/


/*=============== FOOTER ===============*/