<section class="about" id="about">
    <article>
        <div class="max-width">
            <h2 class="title">About me</h2>
            <div class="grid grid--1x2 ">
                <picture>
                    <div class="about__image">
                        <img src="images/profile-suraj.jpg" alt="">
                    </div>
                </picture>
                <div class="column__right">
                    <div class="about__content">I'm Suraj and I'm a <span>Web-Developer</span></div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione natus ab minima suscipit expedita repudiandae deleniti quo placeat nostrum rem aut. Perspiciatis atque dolorem velit ipsa voluptates nobis praesentium repellat maiores
                        deleniti. Veniam sed omnis nemo fuga nam enim. Consequatur veniam ullam tempore delectus dignissimos! Alias eveniet eum quibusdam?</p>
                    <a class="btn btn--secondary" href="#">Download CV</a>
                </div>
            </div>
        </div>
    </article>

</section>