<section class="services" id="services">
    <article>
        <div class="max-width">
            <h2 class="title">My Services</h2>

            <div class="container grid--1x3">
                <div class="services__card">
                    <div class="services__box">
                        <i class="fas fa-paint-brush"></i>
                        <div class="services__heading">My Design</div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, corporis labore ipsum commodi soluta ratione.</p>
                    </div>
                </div>
                <div class="services__card">
                    <div class="services__box">
                        <i class="fas fa-chart-line"></i>
                        <div class="services__heading">Advertising</div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, corporis labore ipsum commodi soluta ratione.</p>
                    </div>
                </div>
                <div class="services__card">
                    <div class="services__box">
                        <i class="fas fa-code"></i>
                        <div class="services__heading"> Design</div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, corporis labore ipsum commodi soluta ratione.</p>
                    </div>
                </div>
            </div>

        </div>
        </div>
    </article>

</section>