<section class="skills" id="skills">
    <div class="max-width">
        <h2 class="title">My Skills </h2>
        <div class=" container grid--1x2 skills__content">
            <div class="skills__column">
                <h3 class="text">My Creative Skills & Experiences.</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At suscipit commodi nemo ipsa culpa magnam voluptatibus porro nulla aspernatur, tenetur cupiditate tempore unde, asperiores qui soluta labore? Temporibus, distinctio commodi pariatur
                    amet eius animi a delectus libero iusto similique quidem rerum maiores praesentium! Laboriosam quaerat qui voluptates molestiae minus, voluptas unde possimus, exercitationem magni illo aperiam animi fugiat voluptatibus excepturi?
                </p>
                <a class="btn btn--skills" href="#">Read more</a>

            </div>
            <div class="skills__column skills__right">
                <div class="skills__bars">
                    <div class="skills__info">
                        <span>HTML</span>
                        <span>90%</span>
                    </div>
                    <div class="line html"></div>
                </div>
                <div class="skills__bars">
                    <div class="skills__info">
                        <span>CSS</span>
                        <span>60%</span>
                    </div>
                    <div class="line css"></div>
                </div>
                <div class="skills__bars">
                    <div class="skills__info">
                        <span>JavaScript</span>
                        <span>80%</span>
                    </div>
                    <div class="line js"></div>
                </div>
                <div class="skills__bars">
                    <div class="skills__info">
                        <span>PHP</span>
                        <span>50%</span>
                    </div>
                    <div class="line php"></div>
                </div>
                <div class="skills__bars">
                    <div class="skills__info">
                        <span>MySQL</span>
                        <span>70%</span>
                    </div>
                    <div class="line mysql"></div>
                </div>

            </div>
        </div>
</section>