<section class="teams" id="teams">
    <div class="max-width">
        <h2 class="title">My teams</h2>
        <div class="carousel owl-carousel">
            <div class="teams__card">
                <div class="teams__box">
                    <img src="/images/profile-suraj.jpg" alt="">
                    <div class="teams__text">Someone name</div>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                </div>
            </div>
            <div class="teams__card">
                <div class="teams__box">
                    <img src="/images/profile-2.jpeg" alt="">
                    <div class="teams__text">Someone name</div>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                </div>
            </div>
            <div class="teams__card">
                <div class="teams__box">
                    <img src="/images/profile-3.jpeg" alt="">
                    <div class="teams__text">Someone name</div>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                </div>
            </div>
            <div class="teams__card">
                <div class="teams__box">
                    <img src="/images/profile-4.jpeg" alt="">
                    <div class="teams__text">Someone name</div>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                </div>
            </div>
            <div class="teams__card">
                <div class="teams__box">
                    <img src="/images/profile-5.jpeg" alt="">
                    <div class="teams__text">Someone name</div>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                </div>
            </div>
        </div>
    </div>
</section>